/* 
 * The order of these CSS rules is important to create the highlighting
 * effect, but also highlight when the mouse hovers over an li
 *
 */

#twautocomplete_possibilities {
  cursor:pointer;
}

#twautocomplete_possibilities li.twautocomplete_zebra_light {
  background-color:rgb(255,255,255);
}

#twautocomplete_possibilities li.twautocomplete_zebra_dark {
  background-color:rgb(220,255,250);
}

#twautocomplete_possibilities li.twautocomplete_selected {
  background-color:rgb(160,160,160);
}


#twautocomplete_possibilities:hover li:hover {
  background-color:rgb(120,120,120) !important;
}

#twautocomplete_possibilities:hover li.twautocomplete_selected {
  background-color: rgb(248,255,255);
}
